=begin
#Webull API

#Webull API Documentation

The version of the OpenAPI document: 3.0.1
Contact: austin.millan@gmail.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.1

=end

require 'cgi'

module WebullApiClient
  class WebApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # cancelOptionOrder
    # Cancel an option order
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param t_token [String] Trade token
    # @param t_time [String] Time
    # @param sec_account_id [String] Account ID
    # @param serial_id [String] UUID
    # @param combo_id [String] Order combo ID
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def cancel_option_order(did, access_token, t_token, t_time, sec_account_id, serial_id, combo_id, opts = {})
      data, _status_code, _headers = cancel_option_order_with_http_info(did, access_token, t_token, t_time, sec_account_id, serial_id, combo_id, opts)
      data
    end

    # cancelOptionOrder
    # Cancel an option order
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param t_token [String] Trade token
    # @param t_time [String] Time
    # @param sec_account_id [String] Account ID
    # @param serial_id [String] UUID
    # @param combo_id [String] Order combo ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def cancel_option_order_with_http_info(did, access_token, t_token, t_time, sec_account_id, serial_id, combo_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.cancel_option_order ...'
      end
      # verify the required parameter 'did' is set
      if @api_client.config.client_side_validation && did.nil?
        fail ArgumentError, "Missing the required parameter 'did' when calling WebApi.cancel_option_order"
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling WebApi.cancel_option_order"
      end
      # verify the required parameter 't_token' is set
      if @api_client.config.client_side_validation && t_token.nil?
        fail ArgumentError, "Missing the required parameter 't_token' when calling WebApi.cancel_option_order"
      end
      # verify the required parameter 't_time' is set
      if @api_client.config.client_side_validation && t_time.nil?
        fail ArgumentError, "Missing the required parameter 't_time' when calling WebApi.cancel_option_order"
      end
      # verify the required parameter 'sec_account_id' is set
      if @api_client.config.client_side_validation && sec_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'sec_account_id' when calling WebApi.cancel_option_order"
      end
      # verify the required parameter 'serial_id' is set
      if @api_client.config.client_side_validation && serial_id.nil?
        fail ArgumentError, "Missing the required parameter 'serial_id' when calling WebApi.cancel_option_order"
      end
      # verify the required parameter 'combo_id' is set
      if @api_client.config.client_side_validation && combo_id.nil?
        fail ArgumentError, "Missing the required parameter 'combo_id' when calling WebApi.cancel_option_order"
      end
      # resource path
      local_var_path = '/v2/option/cancelOrder'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'secAccountId'] = sec_account_id
      query_params[:'serialId'] = serial_id
      query_params[:'comboId'] = combo_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'did'] = did
      header_params[:'access_token'] = access_token
      header_params[:'t_token'] = t_token
      header_params[:'t_time'] = t_time

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebApi.cancel_option_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#cancel_option_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # getOptionsList
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_type  (default to 'Web')
    # @option opts [String] :hl  (default to 'en')
    # @option opts [String] :os  (default to 'web')
    # @option opts [String] :osv  (default to 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36')
    # @option opts [GetOptionsListRequest] :get_options_list_request 
    # @return [GetOptionsListResponse]
    def get_options_list(did, access_token, opts = {})
      data, _status_code, _headers = get_options_list_with_http_info(did, access_token, opts)
      data
    end

    # getOptionsList
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_type 
    # @option opts [String] :hl 
    # @option opts [String] :os 
    # @option opts [String] :osv 
    # @option opts [GetOptionsListRequest] :get_options_list_request 
    # @return [Array<(GetOptionsListResponse, Integer, Hash)>] GetOptionsListResponse data, response status code and response headers
    def get_options_list_with_http_info(did, access_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.get_options_list ...'
      end
      # verify the required parameter 'did' is set
      if @api_client.config.client_side_validation && did.nil?
        fail ArgumentError, "Missing the required parameter 'did' when calling WebApi.get_options_list"
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling WebApi.get_options_list"
      end
      # resource path
      local_var_path = '/quote/option/strategy/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'did'] = did
      header_params[:'access_token'] = access_token
      header_params[:'device-type'] = opts[:'device_type'] if !opts[:'device_type'].nil?
      header_params[:'hl'] = opts[:'hl'] if !opts[:'hl'].nil?
      header_params[:'os'] = opts[:'os'] if !opts[:'os'].nil?
      header_params[:'osv'] = opts[:'osv'] if !opts[:'osv'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'get_options_list_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GetOptionsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebApi.get_options_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#get_options_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # listOrders
    # List all orders matching optional filter values.
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param t_time [String] Time
    # @param t_token [String] Trade token
    # @param sec_account_id [String] Account ID
    # @param [Hash] opts the optional parameters
    # @option opts [PostOrderListRequest] :post_order_list_request 
    # @return [Array<Object>]
    def list_orders(did, access_token, t_time, t_token, sec_account_id, opts = {})
      data, _status_code, _headers = list_orders_with_http_info(did, access_token, t_time, t_token, sec_account_id, opts)
      data
    end

    # listOrders
    # List all orders matching optional filter values.
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param t_time [String] Time
    # @param t_token [String] Trade token
    # @param sec_account_id [String] Account ID
    # @param [Hash] opts the optional parameters
    # @option opts [PostOrderListRequest] :post_order_list_request 
    # @return [Array<(Array<Object>, Integer, Hash)>] Array<Object> data, response status code and response headers
    def list_orders_with_http_info(did, access_token, t_time, t_token, sec_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.list_orders ...'
      end
      # verify the required parameter 'did' is set
      if @api_client.config.client_side_validation && did.nil?
        fail ArgumentError, "Missing the required parameter 'did' when calling WebApi.list_orders"
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling WebApi.list_orders"
      end
      # verify the required parameter 't_time' is set
      if @api_client.config.client_side_validation && t_time.nil?
        fail ArgumentError, "Missing the required parameter 't_time' when calling WebApi.list_orders"
      end
      # verify the required parameter 't_token' is set
      if @api_client.config.client_side_validation && t_token.nil?
        fail ArgumentError, "Missing the required parameter 't_token' when calling WebApi.list_orders"
      end
      # verify the required parameter 'sec_account_id' is set
      if @api_client.config.client_side_validation && sec_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'sec_account_id' when calling WebApi.list_orders"
      end
      # resource path
      local_var_path = '/v1/webull/order/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'secAccountId'] = sec_account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'did'] = did
      header_params[:'access_token'] = access_token
      header_params[:'t_time'] = t_time
      header_params[:'t_token'] = t_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_order_list_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebApi.list_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#list_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # placeOptionOrder
    # Place an option order
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param t_token [String] Trade token
    # @param t_time [String] Time
    # @param sec_account_id [String] secAccountId
    # @param [Hash] opts the optional parameters
    # @option opts [PostOptionOrderRequest] :post_option_order_request 
    # @return [Object]
    def place_option_order(did, access_token, t_token, t_time, sec_account_id, opts = {})
      data, _status_code, _headers = place_option_order_with_http_info(did, access_token, t_token, t_time, sec_account_id, opts)
      data
    end

    # placeOptionOrder
    # Place an option order
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param t_token [String] Trade token
    # @param t_time [String] Time
    # @param sec_account_id [String] secAccountId
    # @param [Hash] opts the optional parameters
    # @option opts [PostOptionOrderRequest] :post_option_order_request 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def place_option_order_with_http_info(did, access_token, t_token, t_time, sec_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.place_option_order ...'
      end
      # verify the required parameter 'did' is set
      if @api_client.config.client_side_validation && did.nil?
        fail ArgumentError, "Missing the required parameter 'did' when calling WebApi.place_option_order"
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling WebApi.place_option_order"
      end
      # verify the required parameter 't_token' is set
      if @api_client.config.client_side_validation && t_token.nil?
        fail ArgumentError, "Missing the required parameter 't_token' when calling WebApi.place_option_order"
      end
      # verify the required parameter 't_time' is set
      if @api_client.config.client_side_validation && t_time.nil?
        fail ArgumentError, "Missing the required parameter 't_time' when calling WebApi.place_option_order"
      end
      # verify the required parameter 'sec_account_id' is set
      if @api_client.config.client_side_validation && sec_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'sec_account_id' when calling WebApi.place_option_order"
      end
      # resource path
      local_var_path = '/v1/webull/order/optionPlace'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'secAccountId'] = sec_account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'did'] = did
      header_params[:'access_token'] = access_token
      header_params[:'t_token'] = t_token
      header_params[:'t_time'] = t_time

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_option_order_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebApi.place_option_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#place_option_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # replaceOptionOrder
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param t_token [String] Trade token
    # @param t_time [String] Time
    # @param sec_account_id [String] Account ID
    # @param [Hash] opts the optional parameters
    # @option opts [PostOptionOrderRequest] :post_option_order_request 
    # @return [Object]
    def replace_option_order(did, access_token, t_token, t_time, sec_account_id, opts = {})
      data, _status_code, _headers = replace_option_order_with_http_info(did, access_token, t_token, t_time, sec_account_id, opts)
      data
    end

    # replaceOptionOrder
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param t_token [String] Trade token
    # @param t_time [String] Time
    # @param sec_account_id [String] Account ID
    # @param [Hash] opts the optional parameters
    # @option opts [PostOptionOrderRequest] :post_option_order_request 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def replace_option_order_with_http_info(did, access_token, t_token, t_time, sec_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.replace_option_order ...'
      end
      # verify the required parameter 'did' is set
      if @api_client.config.client_side_validation && did.nil?
        fail ArgumentError, "Missing the required parameter 'did' when calling WebApi.replace_option_order"
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling WebApi.replace_option_order"
      end
      # verify the required parameter 't_token' is set
      if @api_client.config.client_side_validation && t_token.nil?
        fail ArgumentError, "Missing the required parameter 't_token' when calling WebApi.replace_option_order"
      end
      # verify the required parameter 't_time' is set
      if @api_client.config.client_side_validation && t_time.nil?
        fail ArgumentError, "Missing the required parameter 't_time' when calling WebApi.replace_option_order"
      end
      # verify the required parameter 'sec_account_id' is set
      if @api_client.config.client_side_validation && sec_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'sec_account_id' when calling WebApi.replace_option_order"
      end
      # resource path
      local_var_path = '/v1/webull/order/optionReplace'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'secAccountId'] = sec_account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'did'] = did
      header_params[:'access_token'] = access_token
      header_params[:'t_token'] = t_token
      header_params[:'t_time'] = t_time

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post_option_order_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebApi.replace_option_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#replace_option_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # saveDraw
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param ticker_id [Integer] The Ticker ID to markup
    # @param inline_object [InlineObject] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def save_draw(did, access_token, ticker_id, inline_object, opts = {})
      data, _status_code, _headers = save_draw_with_http_info(did, access_token, ticker_id, inline_object, opts)
      data
    end

    # saveDraw
    # @param did [String] Device ID
    # @param access_token [String] Access token
    # @param ticker_id [Integer] The Ticker ID to markup
    # @param inline_object [InlineObject] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def save_draw_with_http_info(did, access_token, ticker_id, inline_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebApi.save_draw ...'
      end
      # verify the required parameter 'did' is set
      if @api_client.config.client_side_validation && did.nil?
        fail ArgumentError, "Missing the required parameter 'did' when calling WebApi.save_draw"
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling WebApi.save_draw"
      end
      # verify the required parameter 'ticker_id' is set
      if @api_client.config.client_side_validation && ticker_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticker_id' when calling WebApi.save_draw"
      end
      # verify the required parameter 'inline_object' is set
      if @api_client.config.client_side_validation && inline_object.nil?
        fail ArgumentError, "Missing the required parameter 'inline_object' when calling WebApi.save_draw"
      end
      # resource path
      local_var_path = '/draw/quote/charts/saveDraw'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tickerId'] = ticker_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'did'] = did
      header_params[:'access_token'] = access_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(inline_object)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebApi.save_draw",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebApi#save_draw\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
