openapi: 3.0.1
info:
  description: Webull API Documentation
  version: 3.0.1
  title: Webull API
  contact:
    email: austin.millan@gmail.com
servers:
  - url: https://quoteapi.webull.com/api
    description: Quotes API
  - url: https://userapi.webull.com/api
    description: User API
  - url: https://quoteapi.webullbroker.com/api
    description: Broker Quotes API
  - url: https://quotes-gw.webullbroker.com/api
    description: webullbroker Quotes API
  - url: https://securitiesapi.webullbroker.com/api
    description: Securities API
  - url: https://userapi.webullbroker.com/api
    description: User API
  - url: https://act.webullbroker.com/webull-paper-center/api
    description: Paper Trade API
  - url: https://tradeapi.webulltrade.com/api/trade
    description: Trade API
  - url: https://ustrade.webfullfinance.com/api/trade
    description: Account Info
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
tags:
  - name: accounts
    description: Accounts
  - name: authentication
    description: Authentication
  - name: order
    description: Order
  - name: quote
    description: Quote
  - name: user
    description: User
  - name: stocks
    description: Stocks
  - name: paper
    description: Paper
  - name: options
    description: Options
paths:
  "/account/getSecAccountList/v4":
    get:
      deprecated: false
      description: Query for your account ID. Account ID is needed for many private APIs.
      operationId: GetAccount
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSecurityAccountsResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: getAccount
      tags:
        - accounts
  '/asset/{account_id}/getWebullTransferList':
    post:
      deprecated: false
      description: Get transfer history
      operationId: getTransferHistory
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: path
          name: account_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetTransfersRequest"
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Anything'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webullbroker.com/api/trade'
      summary: getTransferHistory
      tags:
        - accounts
  '/information/news/v5/tickerNews/{stock}':
    get:
      deprecated: false
      operationId: getStockNews
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Stocks internal ticker ID
          in: path
          name: stock
          required: true
          schema:
            type: integer
            format: int32
            default: 913243251
        - description: 0 is the latest article
          in: query
          name: currentNewsId
          schema:
            type: number
            format: int32
            default: 0
        - description: Number of articles
          in: query
          name: pageSize
          schema:
            type: integer
            format: int32
            default: 256
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNewsResponse'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://securitiesapi.webullbroker.com/api'
      summary: getStockNews
      tags:
        - stocks
  "/login":
    post:
      deprecated: true
      description: "Trading related authorize trade, must be done before trade action. Note: ensure 'pwd' is your trade PIN. Your password isn't used here.'"
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLoginParametersRequest'
      operationId: getTradeToken0
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PostTradeTokenResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: getTradeToken
      tags:
        - authentication
  "/myaccounts/true":
    get:
      deprecated: false
      description: Get paper trading account ID
      operationId: getPaperTradingAccountID
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPaperAccountsResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://act.webullbroker.com/webull-paper-center/api'
      summary: getPaperTradingAccountID
      tags:
        - paper
  '/order/{account_id}/cancelStockOrder/':
    post:
      deprecated: false
      description: Cancel order
      operationId: cancelOrder
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Anything'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: cancelOrder
      tags:
        - order
  '/order/{account_id}/modifyStockOrder/{order_id}':
    post:
      deprecated: false
      operationId: modifyOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockOrderRequest'
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: account_id
          in: path
          name: account_id
          required: true
          schema:
            type: string
        - description: order_id
          in: path
          name: order_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: modifyOrder
      tags:
        - order
  '/order/{account_id}/placeStockOrder':
    post:
      deprecated: false
      operationId: placeOrder
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: account_id
          in: path
          name: account_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockOrderRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref:  "#/components/schemas/PostOrderResponse"
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: placeOrder
      tags:
        - order
  '/paper/1/acc/{paper_account_id}/order':
    get:
      deprecated: false
      description: Query for your paper trading orders
      operationId: getPaperOrders
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: path
          name: paper_account_id
          required: true
          schema:
            type: integer
        - in: query
          name: startTime
          schema:
            type: string
            default: 1970-0-1
        - in: query
          name: dateType
          required: true
          schema:
            type: string
            default: ORDER
        - in: query
          name: pageSize
          schema:
            type: number
            default: 256
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/OrderStatus'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPaperOrdersResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://act.webullbroker.com/webull-paper-center/api'
      summary: getPaperOrders
      tags:
        - paper
  '/paper/1/acc/{paper_account_id}/orderop/cancel/{order_id}':
    post:
      deprecated: false
      description: Cancel paper trade
      operationId: cancelPaperTradeOrder
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: path
          name: paper_account_id
          required: true
          schema:
            type: string
        - in: path
          name: order_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://act.webullbroker.com/webull-paper-center/api'
      summary: cancelPaperTradeOrder
      tags:
        - paper
  '/paper/1/acc/{paper_account_id}/orderop/modify/{order_id}':
    post:
      deprecated: false
      description: Modify paper trade
      operationId: modifyPaperTradeOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockOrderRequest'
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: path
          name: paper_account_id
          required: true
          schema:
            type: integer
        - in: path
          name: order_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://act.webullbroker.com/webull-paper-center/api'
      summary: modifyPaperTradeOrder
      tags:
        - paper
  '/paper/1/acc/{paper_account_id}/orderop/place/{stock}':
    post:
      deprecated: false
      description: Place paper trade
      operationId: placePaperTradeOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStockOrderRequest'
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: path
          name: paper_account_id
          required: true
          schema:
            type: integer
        - in: path
          name: stock
          required: true
          description: Internal stock ticker ID
          schema:
            type: integer
            format: int32
            default: 913243251
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostPaperOrderResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://act.webullbroker.com/webull-paper-center/api'
      summary: placePaperTradeOrder
      tags:
        - paper
  "/passport/login/logout":
    get:
      deprecated: false
      description: Logout of your current session
      operationId: logout
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://userapi.webullbroker.com/api'
      summary: logout
      tags:
        - authentication
  "/passport/login/v3/account":
    post:
      deprecated: false
      description: 'Login v3 endpoint that requires MFA tokens'
      operationId: login_v3
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLoginParametersRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostLoginResponse'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://userapi.webullbroker.com/api'
      summary: login_v3
      tags:
        - authentication
  "/passport/login/v5/account":
    post:
      deprecated: false
      description: 'Login v5 endpoint that is used by the web application and does not require MFA tokens'
      operationId: login
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLoginParametersRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostLoginResponse'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://userapi.webullbroker.com/api'
      summary: login
      tags:
        - authentication
  "/passport/refreshToken":
    post:
      deprecated: false
      description: Refresh user login token
      operationId: refreshToken
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Refresh token
          in: query
          name: refreshToken
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PostRefreshTokenResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://userapi.webull.com/api'
      summary: refreshToken
      tags:
        - authentication
  "/passport/verificationCode/sendCode":
    post:
      deprecated: false
      operationId: getMultiFactorAuth
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - description: account
          in: query
          name: account
          required: true
          schema:
            type: string
        - description: "phone = 1, email = 2"
          in: query
          name: accountType
          required: true
          schema:
            $ref: '#/components/schemas/AccountType'
            default: 2
            enum:
              - 1
              - 2
        - description: deviceId
          in: query
          name: deviceId
          required: true
          schema:
            type: string
        - description: codeType
          in: query
          name: codeType
          required: true
          schema:
            type: string
            default: 5
        - description: regionCode
          in: query
          name: regionCode
          required: true
          schema:
            type: string
            default: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://userapi.webullbroker.com/api'
      summary: getMultiFactorAuth
      tags:
        - authentication
  "/trading/v1/global/trade/login":
    post:
      deprecated: false
      description: "Trading related authorize trade, must be done before trade action. Note: ensure 'pwd' is your trade PIN. Your password isn't used here.'"
      operationId: getTradeToken
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTradeTokenParametersRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTradeTokenResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://trade.webullbroker.com/api'
      summary: getTradeToken
      tags:
        - authentication
  "/quote/charts/query":
    get:
      description: Get all chart data for the given interval count
      deprecated: false
      operationId: getChartData
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: header
          name: ver
          description:
          schema:
            type: string
            default: 3.37.7
        - in: header
          name: device-type
          description:
          schema:
            type: string
            default: Web
        - description: The Ticker IDs to quote
          in: query
          name: tickerIds
          required: true
          schema:
            type: integer
            format: int32
            default: 913243251
        - description: Whether to include pre-market and afterhours bars. '1' is used for pre-market and after-hours bars.
          in: query
          name: extendTrading
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - description: The precision of the chart data
          in: query
          name: type
          required: true
          schema:
            type: string
            default: m1
            enum:
              - m1
              - m5
              - m15
              - m30
              - h1
              - h2
              - h4
              - d1
              - w1
        - description: The number of bars to return
          in: query
          name: count
          required: true
          schema:
            type: integer
            default: 800
        - description: The selected day of chart date to request
          example: 1648166221
          in: query
          name: timestamp
          required: false
          schema:
            type: number
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetChartDataResponse"
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quotes-gw.webullfintech.com/api'
      summary: getChartData
      tags:
        - stocks
  "/draw/quote/charts/saveDraw":
    post:
      deprecated: false
      operationId: saveDraw
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: The Ticker ID to markup
          in: query
          name: tickerId
          required: true
          schema:
            type: integer
            format: int32
            default: 913243251
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  description: A JSON-encoded string the designated properties
                  type: object
                  properties:
                    id:
                      description: UUID
                      type: string
                    lastModifyTime:
                      type: integer
                      format: int32
                    type:
                      type: string
                      default: horizontal
                      enum:
                        - horizontal
                        - vertical
                    style:
                      type: string
                      enum:
                        - dotted1
                        - dotted2
                        - solid
                    lineWidth:
                      type: string
                      enum:
                        - width1
                        - width2
                        - width3
                        - width4
                    lineColor:
                      type: integer
                      enum:
                        - 4  # red 1
                        - 11 # red 2
                        - 18 # red 3
                        - 25 # red 4
                        - 32 # red 5
                        - 6  # yellow 1
                        - 13 # yellow 2
                        - 20 # yellow 2
                        - 27 # yellow 3
                        - 34 # yellow 4
                        - 7  # green 1
                        - 14 # green 2
                        - 21 # green 3
                        - 28 # green 4
                        - 35 # green 5
                    points:
                      type: array
                      items:
                        type: object
                        properties:
                          x:
                            type: integer
                            format: int32
                          y:
                            type: integer
                            format: int32
                    interval:
                      type: string
                      enum:
                        - m5
                        - m10
                        - m15
                        - m30
                        - h1
                        - h2
                        - h4
                        - d1
                        - w1
                tickerId:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quotes-gw.webullfintech.com/api'
      summary: saveDraw
      tags:
        - web
        - stocks
  "/quote/charts/kdata/latest":
    get:
      deprecated: false
      operationId: getLatestChartData
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: The Ticker IDs to quote
          in: query
          name: tickerIds
          required: true
          schema:
            type: integer
            format: int32
            default: 913243251
        - description: The selected day of chart date to request
          in: query
          name: timestamp
          required: true
          schema:
            type: number
            format: int32
        - description: Whether to include pre-market and afterhours bars. '1' is used for pre-market and after-hours bars.
          in: query
          name: extendTrading
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - description: The precision of the chart data
          in: query
          name: type
          required: true
          schema:
            type: string
            default: m1
            enum:
              - m1
              - m5
              - m15
              - m30
              - h1
              - h2
              - h4
              - d1
              - w1
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLatestChartDataResponse"
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quotes-gw.webullbroker.com/api'
      summary: getLatestChartData
      tags:
        - stocks
  "/quote/option/query/list":
    get:
      deprecated: false
      operationId: getOptionQuotes
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: tickerId
          in: query
          name: tickerId
          required: true
          schema:
            example: 913243251
            type: integer
            format: int32
        - description: derivativeIds
          in: query
          name: derivativeIds
          schema:
            type: number
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOptionQuotesRequest"
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quotes-gw.webullbroker.com/api'
      summary: getOptionQuotes
      tags:
        - options
  '/quote/option/strategy/list':
    post:
      deprecated: false
      operationId: getOptionsList
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: header
          name: device-type
          schema:
            type: string
            default: Web
        - in: header
          name: hl
          schema:
            type: string
            default: en
        - in: header
          name: os
          schema:
            type: string
            default: web
        - in: header
          name: osv
          schema:
            type: string
            default: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOptionsListRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOptionsListResponse"
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quotes-gw.webullfintech.com/api'
      summary: getOptionsList
      tags:
        - options
        - web
  '/quote/option/{stock}/list':
    get:
      deprecated: true
      operationId: getStockOptions
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: path
          name: stock
          description: Internal stock ticker ID
          required: true
          schema:
            type: integer
            default: 913243251
            format: int32
        - in: query
          description: 'Number of contracts to return. -1 for all.'
          name: count
          required: true
          schema:
            default: -1
            type: integer
            format: int32
        - in: query
          name: includeWeekly
          schema:
            default: 1
            type: integer
            format: int32
        - in: query
          name: direction
          schema:
            $ref: "#/components/schemas/OptionDirection"
        - in: query
          name: expireDate
          schema:
            default: "12/16/2022"
            type: string
        - in: query
          name: queryAll
          schema:
            default: 0
            type: integer
            format: int32
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStockOptionsResponse"
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quoteapi.webullbroker.com/api'
      summary: getStockOptions
      tags:
        - options
  '/quote/option/quotes/queryBatch':
    get:
      deprecated: false
      operationId: getBatchStockOptions
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: derivativeIds
          in: query
          name: derivativeIds
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                $ref: "#/components/schemas/GetBatchStockOptionsResponse"
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quotes-gw.webullbroker.com/api'
      summary: getBatchStockOptions
      tags:
        - options
  '/quote/tickerChartDatas/v5/{stock}':
    get:
      deprecated: false
      description: Stock symbol to get chart data
      operationId: getTickerChart
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Internal stock symbol ID
          in: path
          name: stock
          required: true
          schema:
            type: integer
            format: int32
            default: 913243251
        - description: Number of bars to return
          in: query
          name: count
          required: true
          schema:
            type: integer
            format: int32
            default: -1
        - description: Whether to include pre-market and afterhours bars. '1' is used for pre-market and after-hours bars.
          in: query
          name: extendTrading
          required: true
          schema:
            type: integer
            format: int32
            default: 1
        - description: X
          in: query
          name: type
          required: true
          schema:
            type: string
            default: m1
            enum:
              - m1
              - m5
              - m15
              - m30
              - h1
              - h2
              - h4
              - d1
              - w1
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTickerChartResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quoteapi.webull.com/api'
      summary: getTickerChart
      tags:
        - stocks
  '/quote/tickerRealTimes/v5/{stock}':
    get:
      deprecated: false
      description: "Get stock quote"
      operationId: getStockQuote
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: path
          name: stock
          description: Internal stock ticker ID
          required: true
          schema:
            type: integer
            format: int32
            default: 913243251
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStockQuoteResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quoteapi.webull.com/api'
      summary: getStockQuote
      tags:
        - quote
  '/bgw/quote/realtime':
    get:
      deprecated: false
      description: "Get batch stock quote"
      operationId: getBatchStockQuote
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - in: query
          name: ids
          description: Internal stock ticker IDs
          required: true
          schema:
            type: integer
            format: int32
        - in: query
          name: includeSecu
          required: true
          schema:
            default: 1
            type: integer
        - in: query
          name: delay
          required: true
          schema:
            default: 0
            type: integer
        - in: query
          name: more
          required: true
          schema:
            default: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBatchStockQuoteResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quotes-gw.webullfintech.com/api'
      summary: getBatchStockQuote
      tags:
        - quote
  "/search/pc/tickers":
    get:
      description: Lookup stock tickers
      operationId: getStocks
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Stock ticker
          in: query
          name: keyword
          required: true
          schema:
            type: string
        - description: Page
          in: query
          name: pageIndex
          required: true
          schema:
            default: 1
            type: string
        - description: Number of results per page
          in: query
          name: pageSize
          required: true
          schema:
            default: 20
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupStockResponse"
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://quotes-gw.webullfintech.com/api'
      summary: getStocks
      tags:
        - stocks
  "/search/tickers5":
    get:
      deprecated: false
      description: Lookup stock ID
      operationId: getStockId
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Stock ticker
          in: query
          name: keys
          required: true
          schema:
            type: string
            default: 913243251
        - description: queryNumber
          in: query
          name: queryNumber
          required: true
          schema:
            default: 1
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupTickerResponse"
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://infoapi.webull.com/api'
      summary: getStockID
      tags:
        - stocks
  '/securities/financial/index/{stock}':
    get:
      deprecated: false
      description: getFundamentals
      operationId: getFundamentals
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Internal stock ticker ID
          in: path
          name: stock
          required: true
          schema:
            type: integer
            format: int32
            default: 913243251
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/GetFundamentalsResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://securitiesapi.webullbroker.com/api'
      summary: getFundamentals
      tags:
        - stocks
  '/securities/market/v5/card/stockActivityPc.{direction}/list':
    get:
      deprecated: false
      description: Active gainers / losers
      operationId: getActiveGainersLosers
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Direction
          in: path
          name: direction
          required: true
          schema:
            $ref: "#/components/schemas/AdvancedDeclinedDirection"
        - description: regionId
          in: query
          name: regionId
          required: true
          schema:
            default: 6
            type: string
        - description: userRegionId
          in: query
          name: userRegionId
          required: true
          schema:
            default: 6
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetActiveGainersLosersResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://securitiesapi.webullbroker.com/api'
      summary: getActiveGainersLosers
      tags:
        - stocks
  '/securities/ticker/v5/analysis/{stock}':
    get:
      deprecated: false
      description: Analyze stock based on it's ticker
      operationId: getStockAnalysis
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Internal stock ticker ID
          in: path
          name: stock
          required: true
          schema:
            type: integer
            format: int32
            default: 913243251
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStockAnalysisResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://securitiesapi.webullbroker.com/api'
      summary: getStockAnalysis
      tags:
        - stocks
  "/ticker/broker/permissionV2":
    get:
      deprecated: false
      description: isTradeable
      operationId: isTradeable
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Ticker ID is a Stock to query for
          in: query
          name: tickerId
          required: true
          schema:
            type: integer
            format: int32
            default: 913243251
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GetIsTradeableResponse'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: isTradeable
      tags:
        - order
  "/user":
    get:
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
      deprecated: false
      description: Get user details of your account (e.g. name, email/phone, region, ...).
      operationId: getUser
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserDetailsResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://userapi.webull.com/api'
      summary: getUser
      tags:
        - user
  # "/user/warning/v2/manage/overlap":
  #   post:
  #     description: Modify alerts
  #     operationId: modifyAlert
  #     requestBody:
  #       content:
  #         application/json:
  #           schema:
  #             $ref: '#/components/schemas/AlertRequest'
  #     parameters:
  #       - in: header
  #         name: did
  #         description: "Device ID"
  #         required: true
  #         schema:
  #           type: string
  #           default: "your_device"
  #       - in: header
  #         name: access_token
  #         description: "Access token"
  #         required: true
  #         schema:
  #           type: string
  #     responses:
  #       '200':
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Anything'
  #         description: OK
  #       '401':
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ErrorBody'
  #         description: Unauthorized
  #       '403':
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ErrorBody'
  #         description: Forbidden
  #       '404':
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ErrorBody'
  #         description: Not Found
  #     servers:
  #       - url: 'https://userapi.webullbroker.com/api'
  #     summary: modifyAlert
  #     tags:
  #       - alerts

  "/user/warning/v2/query/tickers":
    get:
      deprecated: false
      description: getAlerts
      operationId: getAlerts
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/GetAlertsResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://userapi.webullbroker.com/api'
      summary: getAlerts
      tags:
        - alerts
  '/v2/account/{account_id}/dividends':
    get:
      deprecated: false
      description: Get dividends
      operationId: getDividends
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Dividends
          in: query
          name: direct
          schema:
            default: in
            type: string
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/GetDividendsResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: getDividends
      tags:
        - dividends
  '/v2/corder/stock/check/{account_id}':
    post:
      deprecated: false
      description: Check OTOCO order
      operationId: checkOtocoOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostOtocoOrderRequest"
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Anything'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: checkOtocoOrder
      tags:
        - order
  '/v2/corder/stock/modify/{account_id}':
    post:
      deprecated: false
      description: Cancel order
      operationId: cancelOtocoOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                serialId:
                  type: string
                cancelOrders:
                  items:
                    type: string
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: Account ID
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Anything'
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: cancelOtocoOrder
      tags:
        - order
  '/v2/corder/stock/place/{account_id}':
    post:
      deprecated: false
      operationId: placeOtocoOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOtocoOrderRequest'
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: account_id
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: placeOtocoOrder
      tags:
        - order
  '/v5/home/':
    get:
      deprecated: false
      description: Query for account information. This includes positions, portfolio, etc.
      operationId: getAccountInfoV5
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Account ID of the user to get
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAccountsResponseV5"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: getAccountInfo
      tags:
        - accounts
  '/v2/home/{account_id}':
    get:
      deprecated: false
      description: Query for account information. This includes positions, portfolio, etc.
      operationId: getAccountInfo
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Account ID of the user to get
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAccountResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: getAccountInfo
      tags:
        - accounts
  "/v1/webull/order/list":
    post:
      deprecated: false
      description: List all orders matching optional filter values.
      operationId: listOrders
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Account ID
          in: query
          name: secAccountId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOrderListRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                $ref: "#/components/schemas/ListOrdersResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://ustrade.webullfinance.com/api/trading'
      summary: listOrders
      tags:
        - order
        - options
        - web
  "/v2/option/list":
    get:
      deprecated: true
      description: "DEPRECATED: Query for orders."
      operationId: deprecatedGetOrders
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: false
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: false
          schema:
            type: string
        - description: Numeric ID of the user to get
          in: query
          name: secAccountId
          required: true
          schema:
            type: string
        - description: Start date for orders
          in: query
          name: startTime
          required: false
          schema:
            type: string
        - description: Order type
          in: query
          name: dateType
          required: false
          schema:
            default: ORDER
            type: string
        - description: Page size
          in: query
          name: pageSize
          required: false
          schema:
            default: 256
            type: integer
            format: int32
        - description: Last create time
          in: query
          name: lastCreateTime
          required: false
          schema:
            type: string
        - description: Last create time
          in: query
          name: lastCreateTime0
          required: false
          schema:
            type: string
        - description: Status of order
          in: query
          name: status
          required: false
          schema:
            $ref: '#/components/schemas/OrderStatus'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                $ref: "#/components/schemas/DeprecatedGetOrdersResponse"
          description: OK
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: getOrders
      tags:
        - order
  '/v1/webull/order/optionPlace':
    post:
      deprecated: false
      description: Place an option order
      operationId: placeOptionOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOptionOrderRequest'
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: secAccountId
          in: query
          name: secAccountId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://ustrade.webullfinance.com/api/trading'
      summary: placeOptionOrder
      tags:
        - options
        - web
  '/v2/option/placeOrder/{account_id}':
    post:
      deprecated: true
      description: "DEPRECATED: Place an option order"
      operationId: deprecatedPlaceOptionOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeprecatedPostOptionOrderRequest'
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: account_id
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: placeOptionOrder
      tags:
        - options
  '/v2/option/cancelOrder':
    get:
      deprecated: false
      description: Cancel an option order
      operationId: cancelOptionOrder
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: Account ID
          in: query
          name: secAccountId
          required: true
          schema:
            type: string
        - description: UUID
          in: query
          name: serialId
          required: true
          schema:
            type: string
        - description: Order combo ID
          in: query
          name: comboId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://ustrade.webullbroker.com/api/trade'
      summary: cancelOptionOrder
      tags:
        - options
        - web
  '/v2/option/checkOrder/{account_id}':
    post:
      deprecated: false
      description: Check an option order
      operationId: checkOptionOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOptionCheckOrderRequest'
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: account_id
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://ustrade.webullbroker.com/api/trade'
      summary: checkOptionOrder
      tags:
        - options
  '/v1/webull/order/optionReplace':
    post:
      deprecated: false
      operationId: replaceOptionOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOptionOrderRequest'
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: Account ID
          in: query
          name: secAccountId
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  orderId:
                    type: string
                  success:
                    type: boolean
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://ustrade.webullfinance.com/api/trading'
      summary: replaceOptionOrder
      tags:
        - options
        - web
  '/v2/option/replaceOrder/{account_id}':
    post:
      deprecated: true
      operationId: deprecatedReplaceOptionOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceOptionOrderRequest'
      parameters:
        - in: header
          name: did
          description: "Device ID"
          required: true
          schema:
            type: string
            default: "your_device"
        - in: header
          name: access_token
          description: "Access token"
          required: true
          schema:
            type: string
        - description: Trade token
          in: header
          name: t_token
          required: true
          schema:
            type: string
        - description: Time
          in: header
          name: t_time
          required: true
          schema:
            type: string
        - description: account_id
          in: path
          name: account_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Anything'
          description: OK
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Created
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
          description: Not Found
      servers:
        - url: 'https://tradeapi.webulltrade.com/api/trade'
      summary: replaceOptionOrderDeprecated
      tags:
        - options
  "/wlas/screener/ng/query":
    get:
      deprecated: false
      description: screener (TODO)
      operationId: screener
      parameters:
        - in: header
[...]
